/*
Basic Tags
 */
body { background-image:url('../images/background.png'); font: 13px/175% 'Asap', sans-serif; text-align:justify; background-color: #4a525a; }
h1 { color: #999999; font: 43px 'Asap', sans-serif; font-weight: 700; text-align:left; margin-bottom:11px; padding-bottom:11px; padding-left:0px;  border-style:dashed; border-top:none; border-left:none; border-right:none; border-bottom:thick dotted}
a { color: #e3e3e3; }
a.menu { color: #e3e3e3; font: 17px/175% 'Asap', sans-serif; font-weight: 400; text-decoration:none; }
h2 { color: #e3e3e3; font: 29px/50% 'Asap', sans-serif; font-weight: 400; text-align:left; margin-top:39px; line-height:100% }
p.box { border-style:dashed; width:489px; border-width:1px;  font-size:12px; padding:5px; color: #e3e3e3; margin-bottom:0px; }
p { width:500px; text-align:justify; }
img.dropshadow { box-shadow: 5px 5px 25px -2px #333; }
img{ vertical-align:text-bottom; }

/* 
Main Tags
*/
#content   {  background-image:url('../images/background.png'); position:absolute; top:0px; left:230px; width: 500px; height: auto; color: #e3e3e3; }
#menu { position:absolute; top:40px; left:30px; width:150px; padding:10px; text-align: left; color: #e3e3e3; border:1px dashed #999; line-height:17px; }
.text { width: 430px; height: auto; text-align: left; padding: 0px; margin:0px; margin-right: 20px; color:inherit; float: left;}
.footer { width: 515px; text-align: left; font-family: monospace; font-size: 11px; margin: 0px; margin-top: 15px; }