/*
Basic Tags
 */
body { background-image:url('../images/background.png'); font: 13px/175% 'Droid Serif', serif; text-align:justify; background-color: #4a525a; }
h1 { color: #999999; font: 57px 'Averia Gruesa Libre', serif; text-align:left; margin-bottom:11px;}
a { color: #e3e3e3; }
a.menu { color: #e3e3e3; font: 17px/175% 'Crete Round', serif; text-decoration:none; }
h2 { color: #e3e3e3; font: 31px/50% 'Averia Gruesa Libre', serif; text-align:left; }
p.box { border-style:dashed; border-width:1px;  font-size:11px; padding:5px; color: #e3e3e3; }
img.dropshadow { box-shadow: 5px 5px 25px -2px #333; }

/* 
Main Tags
*/
#content   {  background-image:url('../images/background.png'); position:absolute; top:0px; left:230px; width: 700px; height: auto; color: #e3e3e3; }
#menu { position:absolute; top:53px; left:30px; width:150px; padding:10px; text-align: left; color: #e3e3e3; border:1px dashed #999; line-height:17px; }
.text { width: 430px; height: auto; text-align: left; padding: 0px; margin:0px; margin-right: 20px; color:inherit; float: left;}
.footer { width: 515px; text-align: left; font-family: monospace; font-size: 11px; margin: 0px; margin-top: 15px; }